a:link, a:visited {
    text-decoration:none;
}
#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3.5fr 3.5fr 3.5fr 3.5fr 10fr 10fr 10fr 1fr;
    width: 100%;
    background-color: #22252C;
}

.jumbotron {
    display:flex;
    align-items:center;
    justify-content:center;
    grid-row: 2/6;
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,dn_67,e_colorize:58,w_914/v1558803396/oleg-ivanov-1175716-unsplash_gdqypu.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 10%;

}
.banner {
    display:flex;
    opacity:.8;
    height:40%;
    width:100%;
    background: #3F3250;
    font-family: 'Arvo', serif;
   justify-content:center;
   align-items:center;
}
span.banner-msg {
    font-size:2.5rem;
    color:white;
    padding-bottom:10rem;
}
#nav-bar {
    position:fixed;
    top:0px;
    z-index:5;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#22252C;
    height:5rem;
    width:100%;
}
.main-nav {
    list-style-type:none;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    width:100%;
    margin-right:-7.5rem;
    padding-top:.2rem;
}
.nav-link:hover {
    color: #E14658;
    transform: scale(1.5);
}
.nav-link {
padding-top:1.5rem;
margin-right:10rem;
color:#C0B3A0;
transition: all .3s ease-in-out;
}
.header-title {
    font-size: 1.3rem;
}
#header-img {
padding-left:.5rem;
padding-right:.6rem;
}
#header {
    font-family: 'Arvo', serif;
    color:white;
    height: 5rem;
    background-color:#22252C;
    grid-column: 1/3;
}
#form {
    text-align:center;
}
#email {
    height: 2rem;
    width: 17rem;
    font-size:1.1rem;
    padding: .1rem;
}
#submit {
    border:.5px black;
    border-radius:6%;
    height: 2rem;
    width: 6rem;
    background-color:#E14658;
    color:white;
}
#submit:hover {
    cursor: pointer;
    background-color:#ba0d3e;
    transition: all .3s ease-in-out;
}


.specA, .specB, .specC, .specD {
    font-family: 'Lato', 'serif';
    display:flex;
    justify-content:center;
    align-items:center;
    grid-column:2/3;
    background-color:#22252C;
}
.boxA {
    background:url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,dn_96,e_colorize:62,h_240,o_100,q_80,w_380/v1558970110/musicstockphoto1_il3dfq.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.boxB {
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:55,h_240,o_88,q_100,w_380/v1558973404/musicstockphoto6_ccvabw.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.boxC {
    background:url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,dn_215,e_colorize:61,h_240,w_380/v1558972252/musicstockphoto5_cdzpbe.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.boxD {
    background:url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,dn_216,e_colorize:63,h_240,w_380/v1558970105/musicstockphoto3_uwxccy.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.boxA, .boxB, .boxC, .boxD {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 2rem;
    text-align:center;
    font-family: 'Arvo', serif;
    line-height:1.5;
    height: 80%;
    width:80%;
    opacity:.8;
    color:white;
}
.boxA:hover {
    transform:scale(1.08);
    transition: all .3s ease-in-out;
}
.boxB:hover {
    transform:scale(1.08);
    transition: all .3s ease-in-out;
}
.boxC:hover {
    transform:scale(1.08);
    transition: all .3s ease-in-out;
}
.boxD:hover {
    transform:scale(1.08);
    transition: all .3s ease-in-out;
}
.about, .equipment, .contact {
    grid-column: 1/5;
    background-color:white;
}
#footer {
    color: #C0B3A0;
    background-color:#22252C;
    grid-column: 1/5;
}
span.box-text {
   padding:1rem;
}
p {
    font-size: 1.2rem;
}
#hr-about {
    border: 0;
    height: 1.2px;
    width:100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom:2rem;
}
#video {
    border: solid 2px #22252C;
    border-radius: .5rem;
}
span {
    font-size:1.2rem;
    font-family: 'Arvo', 'serif';
}
.about-content {
    line-height:2rem;
    margin-left:8rem;
    margin-right:8rem;
    padding: 2rem;
    border-left:solid 1.2px #22252C;
    opacity:.8;

}
p {
    font-size: 1rem;
}
.about {
    position:relative;
    z-index: 1;
    background: #3F3250;
    color:white;
    font-family: 'Lato', 'serif';
    margin-top:6rem;
    padding: 3rem;
    text-align:center;
}
.about:before {
    background: inherit;
    top: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(2.5deg);
    transform-origin: 100% 0;
    z-index: -1;
}
.about:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-2.5deg);
    transform-origin: 100%;
    z-index: -1;
}
.equipment {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap:.2rem;
    grid-row-gap: .2rem;
    position:relative;
    z-index: 0;
    background:#22252C;
    color:white !important;
    font-family: 'Arvo', serif;
    margin-top:3rem;
    padding: 10rem;
    text-align:center;
    opacity:.9;
    line-height:2rem;
}
.equipment:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(3.5deg);
    transform-origin: 0 100%;
    z-index: -1;
}
.contact {
    background: #3F3250; 
    color:white;
    padding:8rem;
    text-align:center;
    font-family: 'Arvo', serif;
}
#hr-gear {
    margin-top: 2.5rem;
    grid-column:1/4;
    grid-row:1/2;
    height: 1px;
    width:50%;
    border:0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 255), rgba(0, 0, 0, 0));
}
.equip-content {
    width:100%;
    height: 1rem;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 2rem;
}
.equip-caption {
    margin-top:4rem;
    width: 100%;
    height: 1rem;
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: .9rem;
}
#img-guitars {
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:30,w_250/v1559406196/Orange-Rocker-15_pe2enu.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 35%;
    grid-column: 1/2;
    grid-row: 2/3;
}

#img-amps {
    border-top:solid 2px #22252C;
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:45,h_180,w_250/v1559405201/amps-small_oyzbzx.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 30%;
    grid-column: 2/3;
    grid-row: 2/3;
}
#img-amp-wall {
    border-top:solid 2px #22252C;
    border-right:solid 1px #22252C;
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:30,h_160,w_250/v1559405936/amps_gfo9gw.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 30% 60%;
}
#img-stack {
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:31,w_250/v1559406971/photo-8_egyudo.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 30%;
}
#pedals {
    border-left:solid 2px#22252C;
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:23,h_160,w_250/v1559409364/rattlethatlock_pedals_pdgors.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 30%;
    grid-column: 1/2;
    grid-row: 3/4;
}
#mixing-board {
    border-top:solid 2px #22252C;
    border-left:solid 2px #22252C;
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:35,h_160,w_250/v1559409720/recordinggear_ds3zs9.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 30%;
    grid-column: 1/2;
    grid-row: 2/3;
}
#drum-kit {
    border-right: solid 2px #22252C;
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:31,w_250/v1559420996/drums_vu0y5u.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 70%;
    grid-column: 3/4;
    grid-row: 3/4;
}
#outboard {
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:32,w_250/v1559421421/006_g8kqf8.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 30%;
    grid-column: 2/3;
    grid-row: 4/5;
}
#twin {
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:42,w_250/v1559421780/twin_isxhxy.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
#piano {
    background: url(https://res.cloudinary.com/dqig1x5fi/image/upload/c_scale,co_rgb:3f3250,e_colorize:35,w_250/v1559422059/dubway_piano_vfdco4.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 30%;
    grid-column: 3/4;
    grid-row: 4/5;
}